body
{
  background-color: LightGray;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

div.codeWrapper
{
  background: #ffffff;
  overflow:auto;
  width:auto;
  border:solid gray;
  border-width:.1em .1em .1em .8em;
  padding:.2em .6em;
}

div.heading
{
  text-align: center;
}

code
{
  white-space: pre;
}

figure
{
  width: 45%;
  float: left;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0;
}

figcaption
{
  font-style: italic;
}

h1, h2
{
  text-align: center;
}

hr
{ 
  border: 0;
  width: 95%;
  height: 1px;
  color: #666;
  background-color: #555;
}

hr.invisible
{
  color: LightGray;
  background-color: LightGray;
}

img
{
  max-width: 100%;
}

span.reserved
{
  color: #0000ff;
}

table
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

table, td, th {
    border: 1px solid #888;
}

td, th {
    height: 25px;
    width: 10%;
}